[coverage:run]
branch = True
source = palm_tracer  # Analyse seulement ce module
disable_warnings = couldnt-parse

[coverage:report]
# Exclure toutes les lignes de code dans les fichiers de test, exemples, le main et les init
omit =
	*/shibokensupport/*      ; shiboken créer des fichiers virtuels qui n'existent pas
    */signature_bootstrap.py ; idem
    */pyscript*              ; idem
    palm_tracer/_tests/*
    examples/*
    main.py
    conftest.py
    __init__.py
    _version.py

# Évite les messages "couldn't parse" restants lors du report (à cause de shiboken)
ignore_errors = True

exclude_lines =
    # Ces commentaires excluent des lignes spécifiques si elles sont détectées
    pragma: no cover

exclude_also =
    if platform.system()
    try
	except
	finally
	GPU
	# Aucun appel de fichier lors des tests pour le code coverage
	if __name__ == "__main__":
	# les if contenant _HAS_WEBENGINE sont la en cas de mauvaises installation donc non couvert à 100%
	_HAS_WEBENGINE
    # Fonctions retournant un viewer Napari + QWidget
    ^\s*def create_.*-> tuple\[napari\.Viewer,\s*QWidget\]:
    # Fonctions prenant un viewer Napari en argument
    ^\s*def open_.*\(_viewer:\s*["']napari\.viewer\.Viewer["']\s*=\s*None,\s*\)\s*->\s*QWidget:
